body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FEEBF6;
}

/*outer container*/
.outC{
     width: 40%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     background-color: #FCD8CD;
}


/*inner container*/
/*Main focus*/
.innerC{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    background-color: white;
}


/*intro style*/
.heading{
  font-size :35px;
  color: #ffc9b9;
}

.userName{
     font-size: 20px;
}


.ready{
    font-size: 15px;;
}


.input{
      width: 140px;
      border: 1px solid #FCD8CD;
      border-radius: 20px;
      height: 20px;
      margin-left: 5px;
}

.btnS{
    width: 120px;
    height: 30px;
    border: 4px dotted #FCD8CD;
    border-radius: 20px;
    background-color: white;
    color:black;
    cursor: pointer;
}
.start :hover{
  background-color: #f2b7a6;
  color: white;
  border: none;
}




/*loading style*/
.loadImg{
     width  :110px;
    height  : 130px;
     border-radius: 50%;
}

.Img{
  width: 100%;
}



/*quizStart style*/


/*questions*/
.ques{
  display: flex;
  width:  75%;
  border:  6px solid #FCD8CD;
  height: 150px;
  flex-direction: column;
  gap :5px;
  flex-wrap: wrap;
  background-color: #FEEBF6;
}
.ques > div{
  margin-left: 20px;
}


/*answer*/

.inpAns{
   width: 200px;
   height: 20px;
   border: 3px #FCD8CD solid;
}



/*confirm style*/
.confirm :hover{
  background-color: #f2b7a6;
  color: white;
  border: none;
}

.seconds{
   font-size: 25px;
   color: #FCD8CD;
}


/*random questions*/
.randomQues{
  font-size: 40px;
}

/*levels*/
.levels >  h2{
  font-size: 25px;
}

/*retry btn*/

.btnRetry{
     background-color: red;
     color:  white;
     border: none;
}

.wrong{
   color: red;
}
  




/*font style*/


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  
}

.big-shoulders-inline {
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

.ga-maamli-regular {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.per{
    color: #f2b7a6;
    text-align: center;
}




/*media query*/


@media(max-width:890px){
  .outC{
    width: 100%;
  }
}
